<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.web>
    <machineKey validationKey="1FCB0E629D5DA5AAC0BB69A185457DEEAF8BFFF92C86B01EE8644828FFAF7DEB40E8FA182E9967A8364E66B18D6AD0F97741B4EB53D5904F9AAF9A6AECDC442E" decryptionKey="3B5F41C3EC503EBE135879B97BE0299E2E0D626978964E47" validation="SHA1"/>
  </system.web>
  <system.webServer>
  <!--  <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>  
    </httpProtocol>  -->
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
