<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
      <authentication mode="Forms">
        <forms name="Login" loginUrl="loginpage.aspx" timeout="3000">
          <credentials passwordFormat="Clear">
            <user name="sukanya" password="password"/>
          </credentials>
        </forms>
      </authentication>
     
    </system.web>
  </location>

</configuration>
